/**
   main style file 
*/
body {
    background: #eef;    
}

#content {
    font-family: verdana, sans-serif, monospace;
    text-align: left;
    position: center;
    margin-left: 10%;
    margin-right: 10%;
}

.send {
    cursor: pointer;
    background: #3b5998;
    border: 3px solid #3b5998;
    border-radius: 5px;
    color: white;
}

#age-notif, #email-notif {
    color: red;
}


.block {
    border: solid #3b5998;
    border-width: 2px 2px 2px 2px;
    background: #ddf;
    border-radius: 8px;    
    display: inline-block;
    padding: 5px;
}


.frm-edit {
    background: #ddf;
    border: 2px solid #3b5998;
    border-radius: 8px;    
    padding-left: 4px;
    padding-right: 4px;
}



#view {
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#showImg { height: 95%; }

#return {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background: #ddd;
}
